.checkout-header {
  height: 3em;
  padding: 1.5vw;
  padding-top: 18px;
  padding-bottom: 4px;
  background-color: white;

  display: grid;
  place-content: center;
  place-items: top;
  grid-template-columns: 6.2vw min(270px, 29vw) 2vw;
  grid-template-rows: 48px;
  gap: 21em;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.amazon-logo {
  width: 6.2em;
}

.amazon-mobile-logo {
  display: none;
}

.checkout-header-middle-section {
  font-size: 24px;
  font-weight: 500;
  margin-top: -0.15em;
  margin-right: 2.5vw;
}

.return-to-home-link {
  color: rgb(0, 113, 133);
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
}

@media (width<650px) {
  .amazon-mobile-logo {
    display: block;
    width: 2em;
  }

  .amazon-logo {
    display: none;
  }
}

@media (width<1100px) {
  .checkout-header {
    gap: 31vw;
  }
}
